<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <p>Edit Quote</p>
            <a href="/quotes" class="edit">Back</a>
            <button><a href="/logout">Logout</a></button>
        </div>
        <div class="info">

            {% if messages %}
                {% for error in messages %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}

            <form action="/{{edit_quote.id}}/edit_quote" method="post">
                {% csrf_token %}
                <p>Author: <input type="text" name="author" value="{{edit_quote.author}}"></p><br>
                <p>Quote: <input type="text" name="quote" value="{{edit_quote.quote}}"></p> <br>
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>